@inject NavigationManager NavigationManager
@inject OpenTriviaDbService OpenTriviaDbService
@inject ILocalStorageService LocalStorage

@page "/game/{CategoryId}"

<SfToast ID="toast_default" @ref="toastObj" Timeout="3000">
    <ToastPosition X="@ToastPosition"></ToastPosition>
</SfToast>

<section id="start" className="text-white text-center mb-5 container">
    <SfCard ID="BasicCard">
        <CardHeader Title=@category />
        <CardContent>
            <SfSpinner Size="40" Type="SpinnerType.Material" @bind-Visible="loading" />
            @if (!loading)
            {
                <h4>@stats</h4>
            }
            @if (!loading && question is not null && answers is not null)
            {
                <p>@((MarkupString)question.QuestionText)</p>
                @foreach (string? answer in answers)
                {
                    <SfRadioButton Name="question" Value="@answer" @bind-Checked="checkedValue"></SfRadioButton>@((MarkupString)answer)<br />
                }
            }
        </CardContent>
        <CardFooter>
            <CardFooterContent>
                @if (!gameEnded)
                {
                    <SfButton CssClass="e-btn e-outline e-primary" Disabled="@(string.IsNullOrEmpty(checkedValue))" @onclick="NextQuestion">Submit Answer</SfButton>
                }
                else
                {
                    if (!changeCategory)
                    {
                        <SfButton CssClass="e-btn e-outline e-primary" @onclick="PlayAgain">Play Again</SfButton>
                        <SfButton CssClass="e-btn e-outline e-primary" @onclick="ShowScores">Show Scores</SfButton>
                    }

                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="ChangeCategory">Change Category</SfButton>
                }
            </CardFooterContent>
        </CardFooter>
    </SfCard>
</section>

<style>
    .e-card-header-title {
        font-size: 40px !important;
        font-style: italic;
    }
</style>

@code {
    [Parameter]
    public string CategoryId { get; set; } = string.Empty;
    private string category = string.Empty;
    private string stats = "Question 1/10 - Your score: 0";
    private int score = 0;
    private int numberOfQuestions = 10;
    private bool gameEnded = false;
    private bool changeCategory = false;

    SfToast? toastObj;
    private const string ToastPosition = "Right";

    private Question[] questions = Array.Empty<Question>();
    private bool loading = true;
    private string checkedValue = string.Empty;
    private List<TriviaCategory> TriviaCategories { get; set; } = new();
    private Question? question = null;
    private List<string>? answers = null;

    protected override async Task OnInitializedAsync()
    {
        // check session id
        string sessionId = await LocalStorage.GetItemAsStringAsync("sessionId");
        if (string.IsNullOrEmpty(sessionId))
        {
            await this.OpenTriviaDbService.CreateSessionTokenAsync();
            sessionId = this.OpenTriviaDbService.SessionToken;
            await LocalStorage.SetItemAsStringAsync("sessionId", sessionId);
        }
        else
        {
            this.OpenTriviaDbService.SetSessionToken(sessionId);
        }

        string cachedTriviaCategories = await LocalStorage.GetItemAsStringAsync("triviaCategories");
        if (!string.IsNullOrEmpty(cachedTriviaCategories))
        {
            TriviaCategories = JsonConvert.DeserializeObject<List<TriviaCategory>>(cachedTriviaCategories) ?? new List<TriviaCategory>();
            category = TriviaCategories.FirstOrDefault(x => x.Id == CategoryId)?.Name ?? string.Empty;
        }

        // get 10 questions
        this.questions = await this.OpenTriviaDbService.GetQuestionsAsync(10, Convert.ToInt16(CategoryId), OpenTriviaDbEnums.QuestionType.MultiChoice, OpenTriviaDbEnums.Difficulty.Easy);
        this.numberOfQuestions = this.questions.Length;
        if (this.numberOfQuestions == 0)
        {
            this.gameEnded = true;
            this.stats = "No questions found for this category. Please try another category.";
            this.loading = false;
            this.changeCategory = true;
            TriviaCategories.Remove(TriviaCategories.FirstOrDefault(x => x.Id == CategoryId));
            await LocalStorage.SetItemAsStringAsync("triviaCategories", JsonConvert.SerializeObject(TriviaCategories));
            return;
        }

        this.stats = $"Question 1/{this.numberOfQuestions} - Your score: 0";
        /*
         * TODO:
         * - read unanswered questions from localstorage
         * - get new questions if not enough unanswered questions (10)
         * - store in localstorage unanswered questions
         * - display all-time records
         */
        this.question = this.questions.FirstOrDefault() ?? new Question();
        this.answers = GetAnswers(this.question);
    
        // spinner
        this.loading = false;
    }

    private List<string> GetAnswers(Question questionToBeAnswered)
    {
        if (questionToBeAnswered.CorrectAnswer is null)
        {
            return new List<string>();
        }
        
        List<string> answersToBeShuffled = new() { questionToBeAnswered.CorrectAnswer };
        answersToBeShuffled.AddRange(questionToBeAnswered.IncorrectAnswers);
        answersToBeShuffled.Shuffle();
        return answersToBeShuffled;
    }

    private async Task NextQuestion()
    {
        /*
         * TODO:
         * - store in localstorage unanswered questions
         * - store all-time record for category
         */

        // check answer
        if (this.question?.CorrectAnswer == this.checkedValue)
        {
            // update score
            this.score++;
            this.toastObj!.Content = "Correct!";
        }
        else
        {
            this.toastObj!.Content = $"Incorrect!<br />The correct answer is: \"{question?.CorrectAnswer}\"";
        }

        // show toast
        await this.toastObj.ShowAsync();

        // get next question
        if (this.questions.Length == 1)
        {
            // end game
            this.question = null;
            this.stats = $"Your score: {this.score}/{this.numberOfQuestions}";
            this.gameEnded = true;
        }
        else
        {
            this.question = this.questions[1];
            this.answers = GetAnswers(this.question);
            this.questions = this.questions.Skip(1).ToArray();
            this.stats = $"Question {this.numberOfQuestions - this.questions.Length + 1}/{this.numberOfQuestions} - Your score: {this.score}";
        }

        this.checkedValue = string.Empty;
    }

    private void ShowScores()
    {
        // NavigationManager.NavigateTo($"/end/{CategoryId}/{score}");
    }

    private async Task PlayAgain()
    {
        this.loading = true;
        this.gameEnded = false;
        this.score = 0;
        this.questions = await this.OpenTriviaDbService.GetQuestionsAsync(10, Convert.ToInt16(CategoryId), OpenTriviaDbEnums.QuestionType.MultiChoice, OpenTriviaDbEnums.Difficulty.Easy);
        this.numberOfQuestions = this.questions.Length;
        this.stats = $"Question 1/{this.numberOfQuestions} - Your score: 0";
        this.question = this.questions.FirstOrDefault() ?? new Question();
        this.answers = GetAnswers(this.question);
        this.loading = false;
    }

    private void ChangeCategory()
    {
        NavigationManager.NavigateTo("/");
    }
}
